/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.spinner .mat-progress-spinner circle {
  stroke: #3b82f6 !important; /* Tailwind blue-500 */
}
